# Imports

In [1]:
using DataFrames
using CSV

# Load Data

`CSV.File` takes an optional parameter `missingstring` which can be used to specify how `missing` values have been encoded in your data.

In [2]:
filename = "example.csv"
data = DataFrame(CSV.File(filename, missingstring="#N/A"))
display(data)

20×5 DataFrame
 Row │ HouseID  Price    Beds     Baths    Sqft
     │ Int64    Int64    String3  String3  Int64
─────┼───────────────────────────────────────────
   1 │       1   550000  2        3         1245
   2 │       2   295000  2        2          987
   3 │       3  1400000  4        3         2806
   4 │       4   510000  2        2         1138
   5 │       5   680000  2        1         1040
   6 │       6   799950  3        3         1954
   7 │       7  1040000  3        2         2360
   8 │       8   865000                     2560
   9 │       9   768000  3        3         1440
  10 │      10  1150000  5        2         2600
  11 │      11  2220000  4        4         3590
  12 │      12   700000  2        1         1580
  13 │      13   975000  3        3         1300
  14 │      14    25000  1        1          490
  15 │      15   669000  2        2          915
  16 │      16   690000  3        2         1112
  17 │      17   379000  2        1          930
  18 │      18   424000  1        1          633
  19 │      19   500000  2        2          853
  20 │      20   875000  3        4         1740